<html>
<head>
    <meta charset="utf-8">
    <title>GuestBook</title>
    <style type="text/css">
    body {
        font-family: arial, verdana, sans-serif;
    }
 
    table {
        border-width: 0px;
        border-spacing: 0px;
        padding: 10px;
        border-collapse: collapse;
    }
 
    td {
        max-width: 400px;
	word-wrap:  break-word
    }
 
    .user {
        font-weight: bold;
    }
 
    .colorwhite {
        background-color: #FFFFFF;
    }
 
    .colorgray {
        background-color: #EFEFEF;
    }
    </style>
</head>
<body>
    <h1>GuestBook</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
<table border="1">
  <tr class = "colorgray">
    <th><a href="/up/username/1/">User Name</a></th>
    <th>Image</th>
    <th><a href="/up/email/1/">E-mail</a></th>
    <th><a href="/up/date/1/">Date </a></th>
    <th>Homepage</th>
    <th>Text</th>
    <th>Browser</th>
    <th>IP </th>
  </tr>

{% for rows in d %}
<tr  class="{% cycle "colorwhite" "colorgray" %}">
        {% for cols in rows %}
                <td{% if forloop.first %} class="user"{% endif %}>{{ cols|wordwrap:20|escape }}</td>
        {% endfor %}



</tr>
{% endfor %}
</table>
<p>
Page {{ page }}
</p>
</body>
</html>
