{% load thumbnail %}
{% for rows in ajax_add.object_list %}
<tr  class="{% cycle "colorwhite" "colorgray" %}">
        {% for cols in rows.lst %}
                <td{% if forloop.first %} class="user"{% endif %}>
                {% if forloop.counter == 2 %}
                   {% if cols %}
                   {% thumbnail cols "120x160" as im %}
                   <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                    {% else %} {{ cols|wordwrap:20|escape }}
                   {% endif %}
                {% else %}
                {{ cols|wordwrap:20|escape }}</td> {% endif %}
        {% endfor %}
</tr>
{% endfor %}
